@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:wght@400;700&family=Work+Sans:wght@500&display=swap');

* {box-sizing: border-box;}

h1, h2, p, body {
    padding: 0%;
    margin: 0%;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
img{max-width: 100%;}

body{background-color: #8DAB4A;}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3,70,64);
    height: 3.5rem;
    
}
header nav a{
    padding: 1rem 1.6rem;
    color: #F6EBEB;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    /* font-size: 1.1rem; */
}
header nav a:hover{
    color: #ffffff;
    background-color: rgba(23, 116, 80, 0.199) ;
}
header nav a:hover{
    color: #ffffff;
    background-color: rgba(23, 116, 80, 0.199) ;
}

.banner{
    background-image: url(/imagens/banner-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 680px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    background-color: #6de2ff;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-align: right;
    font-size: 6rem;
    color: #6de2ff;
    text-shadow: 5px 5px #10436d;
    padding-right: 2.4rem;
}
#filme-1,#filme-2,#filme-3{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 2.4rem auto 2rem;
}

.texto{
    padding: 1.4rem 3rem;
    color: #F6EBEB;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    /* margin: up right down left */
    /* margin: 0px 0px 0px 0px; */
}
article img{
    border-radius: 10px;
    width: 55%;
}


h2{
    font-family: 'Bebas Neue', cursive;
    color: #F6EBEB;
}
.linha{
    text-align: center;
}
article a{color: #F6EBEB;}

article:hover{background-color:#819e44;;}
article:focus{background-color:#8DAB4A;;;}

footer{
    height: 50px;
    background-color: #10436d;
    color: #F6EBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
} 


@media screen and (max-width:1000px) {
    header{background-color: #10436d;}
    .banner{
        justify-content: center;
    }
    h1{
        text-align: center;
        padding: 0;
    }

    #filme-1,#filme-3{
        flex-direction: column;
    }
    #filme-2{
        flex-direction: column-reverse;
        /* margin: 2rem auto 2rem; */
    }

    article img{
        width: 90%;
        margin: auto;
    }

    #filme-2 img{
        height: 100%;
      }
    .texto{
        width: 100%;
        padding: 1rem 2rem 2.5rem 2rem;

    }
    .texto h2{text-align: center ;}
}

@media screen and (max-width:500px){
    header{background-color: #08817b;}
    p{ font-size: 1.1rem;}

    header{
    flex-direction: row-reverse;
    }
    nav {display: none;}

    footer{background-color: #08817b;}
}
